name: Deploy Contentful

on:
  push:
    branches: [ main ]
jobs:
  build:

    runs-on: ubuntu-latest
    name: Contentful Migration
    steps:
    - name: Check out code into the directory
      uses: actions/checkout@v1

    - name: Contentful Migration
      id: migration
      uses: contentful-userland/contentful-action@v1
      env:
        MIGRATIONS_DIR: 'contentful/migrations'
        SPACE_ID: ${{ secrets.CONTENTFUL_SPACE_ID }}
        MANAGEMENT_API_KEY: ${{ secrets.CONTENTFUL_MANAGEMENT_API_KEY }}
        LOG_LEVEL: verbose

    - name: Create commit comment
      uses: peter-evans/commit-comment@v1
      with:
        body: |
          See changes to the [${{steps.migrate.outputs.environment_name }} ][1] Environment on Contentful.
          [1]: ${{steps.migrate.outputs.environment_url}}
